https_proxy=https://{{ proxy_server }}
http_proxy=https://{{ proxy_server }}
HTTPS_PROXY=https://{{ proxy_server }}
HTTP_PROXY=https://{{ proxy_server }}
no_proxy={{ no_proxy_domains}}
NO_PROXY={{ no_proxy_domains}}
