https_proxy=https://{{ proxy_server }}
http_proxy=https://{{ proxy_server }}
HTTPS_PROXY=https://{{ proxy_server }}
HTTP_PROXY=https://{{ proxy_server }}
no_proxy=10.*,172.*,173.*,67.20.*,69.164.*
NO_PROXY=10.*,172.*,173.*,67.20.*,69.164.*
