IPMI_KEY={{ipmi_key}}
export IPMI_OPT_PARAMS="-y ${IPMI_KEY}"
export http_proxy=https://{{proxy_server}}
export HTTP_PROXY=https://{{proxy_server}}
export https_proxy=https://{{proxy_server}}
export HTTPS_PROXY=https://{{proxy_server}}
