{
  "category": "admin",
  "group": "internal",
  "deployment": "system",
  "conduit": ["10g0","10g1"],
  "team_mode": 4,
  "use_team": true,
  "ranges": [
    {
      "name": "admin",
      "first": "10.133.210.51/24",
      "last": "10.133.210.71/24"
    },
    {
      "name": "host",
      "first": "10.133.210.81/24",
      "last": "10.133.210.101/24"
    },
    {
      "name": "dhcp",
      "first": "173.31.1.52/24",
      "last": "173.31.1.80/24"
    }
  ],
  "router": {
    "address": "173.31.1.51/24",
    "pref": 10
  }
}
